appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.3.3
attrs==19.3.0
bcrypt==3.1.7
beautifulsoup4==4.6.0
cached-property==1.5.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
crayons==0.3.0
cryptography==2.8
dominate==2.4.0
Fabric3==1.13.1.post1
filelock==3.0.12
flasgger==0.6.6
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.3
Flask-WTF==0.14.3
google-api-core==1.16.0
google-auth==1.11.2
google-cloud-core==1.3.0
google-cloud-datastore==1.10.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
gunicorn==19.7.1
html5lib==0.999999999
httplib2==0.9.2
idna==2.5
importlib-metadata==1.5.0
importlib-resources==1.0.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.9.6
jsonschema==3.0.1
keyring==10.6.0
keyrings.alt==3.0
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mysqlclient==1.3.10
netifaces==0.10.4
nexmo==2.4.0
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
packaging==20.1
paramiko==2.7.1
pathlib2==2.3.5
pep8==1.7.0
pexpect==4.2.1
Pillow==5.1.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.6
pyRFC3339==1.0
pyrsistent==0.15.7
python-dateutil==2.6.1
python-debian==0.1.32
pythonfinder==1.2.1
pytz==2019.3
pyxdg==0.25
PyYAML==5.1
reportlab==3.4.0
requests==2.17.3
requests-oauthlib==0.8.0
requests-unixsocket==0.1.5
rsa==4.0
SecretStorage==2.3.1
simplejson==3.13.2
six==1.14.0
SQLAlchemy==1.2.5
systemd-python==234
typed-ast==1.4.1
urllib3==1.21.1
virtenv==0.3.1
virtualenv==20.0.5
visitor==0.1.3
vistir==0.5.0
wadllib==1.3.2
webencodings==0.5
Werkzeug==0.12.2
wrapt==1.11.2
WTForms==2.2.1
yaspin==0.16.0
zipp==2.2.0
zope.interface==4.3.2
