<!--navigation bar including body tag-->
{%extends "layout.html"%}
{% block content %}
<!--main form-->
<form action="" method='POST'>
    <div class="box">
        <h1>About Us</h1>
        <h2>Inspiration</h2>
        <p>Veronica's mother has diabetes and she continously asked Veronica to send a text as a reminder to take her
            medication
            daily, but Veronica can not keep track of that since she is occupied with her busy schedule as well. This is
            when
            the idea of MedReminder emerged. </p>
        <h3>Team Members</h3>
        <h5><b>Veronica Mejia - Software Engineer at Holberton School</b></h5>
        <h6>www.github.com/veromejia - Github</h6>
        <h6>@veromejia86 - Twitter</h6>
        <h6>veromejia.q@gmail.com - Google</h6>
        <h5><b>Hanh Nguyen - Software Engineer at Holberton School</b></h5>
        <h6>www.github.com/hanhuyeny2k - GitHub</h6>
        <h6>@hanhuyeny2k - Twitter</h6>
        <h6>nhuyeny2k@gmail.com - Google+</h6>
        <p>Link to our Github repo: https://github.com/veromejia/med_reminder</p>
    </div>
</form>
{%endblock content%}