{%extends "layout.html"%}
{% block content %}
<form action="" method='POST'>
    <main class="mt-5">
        <div class="box">
            <!--Section: Best Features-->
            <section id="best-features" class="text-center">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">Our Features</h2>
                <!--Grid row-->
                <div class="row d-flex justify-content-center mb-4">
                    <!--Grid column-->
                    <div class="col-md-8">
                        <!-- Description -->
                        <p class="grey-text"></p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-4 mb-5">
                        <i class="fa fa-calendar fa-4x orange-text"></i>
                        <h4 class="my-4 font-weight-bold">On Schedule</h4>
                        <p class="grey-text">Message will be sent at the time that is scheduled.</p>
                    </div>
                    <!--Grid column-->
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-users fa-4x orange-text" aria-hidden="true"></i>
                        <h4 class="my-4 font-weight-bold">User Friendly</h4>
                        <p class="grey-text">Anyone with a phone number or an email can use it.</p>
                    </div>
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-bolt fa-4x orange-text" aria-hidden="true"></i>
                        <h4 class="my-4 font-weight-bold">Fast Service</h4>
                        <p class="grey-text">Just one click away from sending someone a fast and reliable reminder.</p>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Best Features-->
        </div>
    </main>
    <!--Main layout-->
</form>
{%endblock content%}