{%extends "layout.html"%}
{% block content %}
<form method='POST'>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href={{ url_for('home') }}>
      <i class="fas fa-home"></i>
    </a>
  </nav>
  <div class="box">
    {{ form.hidden_tag() }}
    <h1>
      <font face="bradley hand" color="red">Recipient Reminder</font>
    </h1>
    {{form.firstName.label()}}
    {{ form.firstName(class="mycontrol") }}


    {{form.lastname.label()}}
    {{ form.lastname() }}


    {{form.email.label()}}
    {{ form.email() }}

    {{form.phone_no.label()}}
    {{ form.phone_no() }}
    {{form.submit(class="btn")}}
  </div>
</form>
{%endblock content%}