<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <link rel="stylesheet" type="text/css" href="/static/styles/reminder.css">
    <title>Document</title>
</head>
<body>
    <form action="" method='POST'>
        {{ form.hidden_tag() }}
        <div class="container">
            <h1><font face="bradley hand" color="red">Recipient Reminder</font></h1>
            
                <div class="form-group">
                {{form.patients.label()}}
                    {% if form.patients.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.patients.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.patients(class = "form-control")}}
                {% endif %}    
                </div>
                
                <br/><br/>

                <div class="form-group">
                    {{form.medication.label()}}
                {% if form.medication.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.medication.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.medication(class = "form-control")}} 
                {% endif %}

                </div>
                
                <div class="form-group">
                    {{form.frequency.label()}}
                {% if form.frequency.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.frequency.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.frequency(class = "form-control")}}
                {% endif %}

                    
                </div>
                
                <div class="form-group">
                    {{form.start_dt.label()}}
                {% if form.start_dt.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.start_dt.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.start_dt(class = "form-control")}}
                {% endif %}
                    
                </div>

                <div class="form-group">
                    {{ form.end_dt.label() }}
                {% if form.end_dt.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.end_dt.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.end_dt(class = "form-control")}}
                {% endif %}

                    
                </div>

                <div class="form-group">
                    {{form.noti_type.label()}}
                {% if form.noti_type.errors %}
                    
                    <div class="invalid-feedback">
                        {% for error in form.noti_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.noti_type(class = "form-control")}}
                {% endif %}

                   
                </div>

            {{form.submit}}    
              
        </div>    
    </form>
    
</body>
</html>