{%extends "layout.html"%}
{% block content %}

<form action="" method='POST'>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href={{ url_for('home') }}>
            <i class="fas fa-home"></i>
        </a>
    </nav>
    <div class="container-2" style="opacity: 0.9;">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages( with_categories = true ) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form>
            <h1>
                <font face="bradley hand" color="red">Recipient Reminder</font>
            </h1>
            <div class="form-group row d-flex justify-content-center">
                {{form.patients.label()}}
                {% if form.patients.errors %}
                <div class="col-sm-5">{{form.patients(class = "form-control")}}</div>
                <div class="invalid-feedback">
                    {% for error in form.patients.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">{{form.patients(class = "form-control")}}</div>
                {% endif %}
            </div>

            <div class="form-group row d-flex justify-content-center">
                {{form.medication.label()}}
                {% if form.medication.errors %}
                <div class="col-sm-5">{{form.medication(class = "form-control")}}</div>
                <div class="invalid-feedback">
                    {% for error in form.medication.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">{{form.medication(class = "form-control")}}</div>
                {% endif %}

            </div>

            <div class="form-group row d-flex justify-content-center">
                {{form.frequency.label()}}

                {% if form.frequency.errors %}
                <div class="col-sm-5">{{form.frequency(class = "form-control")}}</div>
                <div class="invalid-feedback">
                    {% for error in form.frequency.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">{{form.frequency(class = "form-control")}}</div>
                {% endif %}


            </div>

            <div class="form-group row d-flex justify-content-center">
                {{form.start_dt.label()}}
                {% if form.start_dt.errors %}

                <div class="invalid-feedback">
                    {% for error in form.start_dt.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">{{form.start_dt()}}</div>
                {% endif %}

            </div>

            <div class="form-group row d-flex justify-content-center">
                {{ form.end_dt.label() }}
                {% if form.end_dt.errors %}

                <div class="invalid-feedback">
                    {% for error in form.end_dt.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">
                    {{form.end_dt()}}
                </div>

                {% endif %}


            </div>

            <div class="form-group row d-flex justify-content-center">
                {{form.noti_type.label()}}
                {% if form.noti_type.errors %}

                <div class="invalid-feedback">
                    {% for error in form.noti_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-sm-5">
                    {{form.noti_type(class = "form-control")}}
                </div>
                {% endif %}
            </div>

            {{form.submit}}
        </form>
    </div>

</form>
{%endblock content%}