<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <title>Welcome!!</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <SCRIPT src="/static/scripts/welcome.js"></SCRIPT>
  </head>
  <body>

 <form class="box">

      <h1><font face="bradley hand" color="red">Welcome to Demo of MedReminder</font></h1>
           <!--input type="text" name="" placeholder="Location  ex:SF"-->
      <input id="submitRecipient" type="submit" name="" value="ADD RECIPIENT">
      <input id="submitReminder" type="submit" name="" value= "ADD REMINDER">

 </form>

 
  </body>
</html>