body {
  padding-top: 0%;
  margin: 0;
  font-family: sans-serif;
  height: 500px; 
  width: 800px;

  background: url(images/medimg.jpeg) no-repeat  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}
.jumbotron {
  background: url("img.jpg") no-repeat center;
}
.btn-primary {
  background-color: #c60063;
  border-color: #c60063;
}