body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("https://c1.sfdcstatic.com/content/dam/blogs/us/thumbnails/listening-strategy-series-a-philosophy-for-listening/customer_feedback.png");
    background-size: cover;
}

.box {
    width: 40%;
    /*padding: 40px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border-radius: 5%;
    opacity: 0.9;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
}

.box h1{
    color:red;
    text-transform: uppercase;
    font-weight: 400;
}
.box input[type ="text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type ="password"]:focus{
    width: 280px;
    border-color:#ff6666;
}

.box input[name="phone"], .box input[name="nApi"], .box input[name="nSecret"]{
    display:none;
}

.box input[type = "submit"] {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 14px 40px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}



.box input[type = "submit"]:hover{
    background: #ff6666
}

footer{
    position:absolute;
    top: 100%;
    left: 45%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 100%;*/
  }

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }